<div id="index-search">
<h2>Zkontroluj si sliby politiků</h2>
<script>
	$(function() {
		$( "#index-search-text" ).autocomplete({
			delay: 0,
			minLength: 2,
			source: "\/www\/oblasti\/data-source"
		});
	});
	</script>
	<form action="/vypis.html" method="post">
		<input type="text" id="index-search-text" value="obec nebo strana" />
		<input type="submit" id="index-search-submit" value="Hledat" class="btn violet" />
	</form>
	<%# TODO <p class="from">Myslíme si, že jsi z obce <a href="#">Brno</a>.</p>#%>
	<p class="detailed"><a href="#">Podrobné hledání</a></p>
</div>
<div id="index-upload">
	<h2>Vložte sliby z vaší obce</h2>
	<p class="center">
	    <%= link_to "Nahrát dokument", new_material_path, :class => "btn success violet big" %>
	</p>
	<p class="center info">
		Vložit můžete fotografie, letáky, PDF, odkazy nebo videa.
	</p>
</div>
<div id="index-texts">
	<div id="about">
		<h2>K čemu archiv volebních slibů?</h2>
		<ul>
			<li>Před volbami politici slibují, ale po volbách končí letáky s jejich sliby v koši.</li>
			<li>Slibujeme.cz vám umožňuje tyto materiály uchovávat a následně kontrolovat, jak je politici plní. Kontrola je ovšem na vás - tu za vás nikdo neudělá.</li>
			<li>Najdete zde předvolební letáky, plakáty, billboardy, články v médiích, volební weby nebo videa.</li>
			<li><a href="<%= new_material_path %>" title="Nahrajte dokumenty">Nahrejte sem</a> materiály z vašeho města nebo obce, čím více jich zde bude, tím efektivnější bude následná kontrola.</li>
		</ul>
	</div>
	<div id="top-select">
		<h2 class="select">Vybíráme</h2>
		<div id="top-select-content">
			<a href="<%= material_path(@random_material) %>">
			    <%= render_asset_for_random_material(@random_material )%>
			</a>
			<p>
				<span class="item">Volby:</span><br />
				<a href="<%= material_path(@random_material) %>"><%= @random_material.election.title %></a>
			</p>
			<p>
				<span class="item">Strana:</span><br />
				<a href="<%= material_path(@random_material) %>"><%= @random_material.party.title %></a>
			</p>
			<p>
				<span class="item">Obec:</span><br />
				<a href="<%= material_path(@random_material) %>"><%= @random_material.municipality.full_title %></a>
			</p>
		</div> 
	</div>
</div>
<% @social = true %>