<%= form_for @material do |f| -%>
<h2>Dokumenty</h2>
<div id="tabs">
	<ul>
		<li><a href="#tabs-1">Fotky</a></li>
		<li><a href="#tabs-3">Stránka na internetu</a></li>
		<li><a href="#tabs-2">Video</a></li>
		
	</ul>
	<div id="tabs-1">
	    <%= f.fields_for :image_assets do |builder| %>	
	        <%= render "image_asset_fields", :f => builder %>
        <% end %>
        <p>
            <a href="#" id="materials-add-more-image-assets">Chci přidat více fotek</a>
        </p>
        <span class="help">Pokud chcete přidat více stran jednoho letáku, přidejte je najednou pomocí výběru více souborů</span>
    </div>
	<div id="tabs-3">
        <%= f.fields_for :url_assets do |builder| %>	
	        <%= render "url_asset_fields", :f => builder %>
        <% end %>
	</div>
	<div id="tabs-2">
	    <%= f.fields_for :video_assets do |builder| %>	
	        <%= render "video_asset_fields", :f => builder %>
        <% end %>
	</div>
	
</div>

<% if @material.errors.messages[:base] %>
<% @material.errors.messages[:base].each do |msg| %>
  <div class="alert alert-error" style="margin-top: 14px;">
    <a class="close" data-dismiss="alert">×</a>
    <%= msg %>
  </div>           
<% end %>
<% end %>
<script>
  $(function () {
    $( "#tabs" ).tabs();
  })
</script>


<h2>Popis dokumentů</h2>
  <div id="material-form-metadata">
      <div class="control-group<% if @material.errors.messages[:election] %> error<% end %>">
          <%= f.label :election_id %>
          <div class="controls">
              <%= f.collection_select :election_id, Election.all, 'id', 'title', :include_blank => true %>
              <% if @material.errors.messages[:election] %>
              <% @material.errors.messages[:election].each do |msg| %>
                <span class="help-inline"><%= msg %></span><br>            
              <% end %>
              <% end %>
          </div>
      </div>
      
      <div class="control-group<% if @material.errors.messages[:municipality] %> error<% end %>">
          <%= f.label :municipality_id %>
          <div class="controls">
              <%= autocomplete_field_tag :municipality_name, params[:municipality_name], autocomplete_municipality_title_materials_path, :id_element => "#material_municipality_id" %>
              <%= f.hidden_field :municipality_id %>
              <% if @material.errors.messages[:municipality] %>
              <% @material.errors.messages[:municipality].each do |msg| %>
              <span class="help-inline"><%= msg %></span><br>            
              <% end %>
              <% end %>
          </div>
      </div>
      
      <div class="control-group<% if @material.errors.messages[:party] %> error<% end %>">
          <%= f.label :party_id %>
          <div class="controls">
              <%= f.collection_select :party_id, Party.all, 'id', 'title_for_select', :include_blank => true %>
              <% if @material.errors.messages[:party] %>
              <% @material.errors.messages[:party].each do |msg| %>
                <span class="help-inline"><%= msg %></span><br>            
              <% end %>
              <% end %>
          </div>
      </div>
      
      <p>
          <%= f.label :topic_ids %>
          <%= f.grouped_collection_select :topic_ids, Topic.roots, :children, :title, :id, :title, {:include_blank => true}, {:multiple => true, "data-placeholder" => "Vyberte témata..."} %>
      </p>
      
      <p>
          <%= f.label :polititians %>
          <%= text_field_tag :material_polititians, params[:material_polititians], { "data-uri" => autocomplete_polititian_name_materials_path, "rel" => "tooltip", "title" => "Pro přidání další osoby stiskněte po zadání jména enter" } %>
      </p>
      
      <div class="control-group">
          <%= f.label :comment %>
          <div class="controls">
              <%= f.text_area :comment, { "rel" => "tooltip", "title" => "Komentář bude veřejně zobrazen u dokumentu" } %>
          </div>
      </div>
      
      <% if !user_signed_in? %>
          <%= fields_for :user do |user_builder| -%>        
          <div class="control-group<% if @user.errors.messages[:email] %> error<% end %>">
              <%= user_builder.label :email, "Kontakt" %>
              <div class="controls">
                <%= user_builder.text_field :email %>
                <% @user.errors.messages[:email].each do |msg| %>
                <span class="help-inline"><%= msg %></span><br>            
                <% end %>
              </div>
          </div>
          <% end %>
      <% else %>
        Jste přihlášen(a) a dokument nahrajete jako <strong><%= current_user.email %></strong>. <%= link_to "Odhlásit", destroy_user_session_path, :method => :delete %>
      <% end %>

      <p id="material-form-controls">
          <%= f.submit "Vložit", class: "btn success big violet" %>
      </p>
  </div>
<% end -%>
