<% if flash[:notice] %>
<div class="alert alert-success" style="margin-top:16px;width:450px;">
  <a class="close" data-dismiss="alert">×</a>
  <strong>Vše proběhlo v pořádku!</strong>
  <%= flash[:notice]%>
</div>
<% end %>

<% if flash[:alert] %>
<div class="alert" style="margin-top:16px;width:450px;">
  <a class="close" data-dismiss="alert">×</a>
  <%= flash[:alert]%>
</div>
<% end %>

<p>
    <a href="javascript: history.go(-1)">Zpět na vyhledávání</a>
</p>
<p class="toright">
    <a data-toggle="modal" href="#flag-material">nahlásit závadný obsah</a>
    <% if current_user == @material.user %>
     | <a href="<%= edit_material_path(@material)%>">upravit dokument</a>
    <% end %>
</p>
<br class="clear" />
<h1 style="float:left;"><%= [@material.election.title, @material.municipality.full_title, @material.party.to_s].collect(&:capitalize).join(" > ")%></h1>
<p class="toright"><%= image_tag "social.png", :title => "Sociální sítě" %></p>
<br class="clear" />

<ul class="list">
	<li><a href="<%= advanced_search_materials_path(:e => @material.election.id)%>" class="label tag select"><%= @material.election.title %></a></li>
	<li><a href="<%= advanced_search_materials_path(:m => @material.municipality.full_title)%>" class="label tag select"><%= @material.municipality.full_title %></a></li>
	<li><a href="<%= advanced_search_materials_path(:p => @material.party)%>" class="label tag select"><%= @material.party %></a></li>
</ul>
<% if @material.topics.any? %>
<h3 class="type">Témata</h3>
<ul class="list">
    <% @material.topics.each do |topic| %>
	<li><a href="<%= advanced_search_materials_path(:t => [topic.id])%>" class="label tag select"><%= topic.title %></a></li>
    <% end %>
</ul>
<% end %>

<% if @material.polititians.any? %>
<h3 class="type">Osoby</h3>
<ul class="list">
    <% @material.polititians.each do |person| %>
	<li><a href="<%= advanced_search_materials_path(:po => person.name)%>" class="label tag select"><%= person.name %></a></li>
	<% end %>
</ul>
<% end %>
<br class="clear" />
<hr />
<p class="center">
    <h3>Komentář</h3>
    <p class="material-comment">
        <%= @material.comment %>
    </p>
    <% @material.image_assets.each do |file| %>
    <div class="material_image_asset">
        <% if file.is_image? %>
            <%= image_tag(file.image(:detail))%><br>
        <% else %>
            <%=  %>
            <iframe class="preview_iframe" id="short_preview" src="http://docs.google.com/gview?url=<%= "#{file.image_url(:original)}"%>&amp;embedded=true" style="width:600px; height:800px;" frameborder="0"></iframe>
        <% end %>
    </div>
	<% end %>
	
	<% @material.video_assets.each do |video| %>
	<div class="material_video_asset video_<%= video.video_service.downcase %>">
	    <% if video.video_service == VideoAsset::SERVICE_YOUTUBE %>
	    <iframe class="youtube-player" type="text/html" width="640" height="385" 
	        src="http://www.youtube.com/embed/<%= video.video_id %>" frameborder="0">
        </iframe>
        <% elsif video.video_service == VideoAsset::SERVICE_VIMEO %>
        <iframe src="http://player.vimeo.com/video/<%= video.video_id %>" width="640" height="385" frameborder="0"></iframe>
	    <% else %>
	    <%= video.user_code %>
        <% end %>
    </div>
    <% end %>
    
    <% if @material.url_assets.any? %>
    <h3>Odkazy</h3>
    <ul>
    <% @material.url_assets.each do |asset| %>
        <li><%= link_to asset.url, asset.url %></li>
    <% end %>
    </ul>
    <% end %>
</p>
<div class="fb-comments" data-href="<%= request.url %>" data-num-posts="10" data-width="840"></div>
<br class="clear" />
<p><a href="javascript: history.go(-1)">Zpět na vyhledávání</a></p>
<br class="clear" />

<div class="modal fade" id="flag-material">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3>Nahlásit závadný obsah</h3>
  </div>
  <div class="modal-body">
    <%= form_tag(flag_material_path(@material), :method => :put) do %>
      <div class="control-group">
        <%= label_tag :flag_email, "E-mail" %>
        <div class="controls">
            <%= text_field_tag :flag_email %>
            <span class="help-inline">Nepovinné</span>
        </div>
      </div>
      <div class="control-group">
        <%= label_tag :flag_text, "Popis problému" %>
        <div class="controls">
          <%= text_area_tag :flag_text %>
        </div>
      </div>
      <%= hidden_field_tag :material_id, @material.id %>

  </div>
  <div class="modal-footer">
    <%= submit_tag "Odeslat", :class => "btn btn-primary violet" %>
    <% end -%>
    <a href="#" class="btn" data-dismiss="modal">Neodesílat</a>
  </div>
</div>

<% @subpage = true %>
<% title(@material.election.title, @material.party.to_s, @material.municipality.full_title) %>
<% content_for :description do %>
Zkontrolujte si volební sliby pro <%= @material.election.title.capitalize %>: Strana <%= @material.party.to_s %>, <%= @material.municipality.full_title %>
<% end %>