<%= flash[:notice]%>

<div id="material-show-metadata-basic">
    <span class="tag"><%= @material.election.title %></span>
    <span class="tag"><%= @material.municipality.title %></span>
    <span class="tag"><%= @material.party.title %></span>
</div>

<div id="material-show-topics">
    <% @material.topics.split(',').each do |topic| %>
    <span class="tag"><%= topic.strip %></span>
    <% end %>
</div>

<div id="material-show-people">
    <% @material.polititians.split(',').each do |person| %>
    <span class="tag"><%= person.strip %></span>
    <% end %>
</div>