<% if flash[:notice] %>
<div class="alert alert-success">
  <a class="close" data-dismiss="alert">×</a>
  <strong>Vše proběhlo v pořádku!</strong> <%= flash[:notice]%>
</div>
<% end %>

<% @subpage = true %>
<p><a href="javascript: history.go(-1)">Zpět na vyhledávání</a></p>
	<p class="toright"><a href="#">nahlásit závadný obsah</a> | <a href="#">upravit dokument</a></p>
	<br class="clear" />
	<p class="toright"><%= image_tag "social.png", :title => "Sociální sítě" %></p>
<ul class="list">
	<li><a href="#" class="label tag select"><%= @material.election.title %></a></li>
	<li><a href="#" class="label tag select"><%= @material.municipality.full_title %></a></li>
	<li><a href="#" class="label tag select"><%= @material.party.title %></a></li>
</ul>
<h3 class="type">Témata</h3>
<ul class="list">
    <% @material.topics.each do |topic| %>
	<li><a href="#" class="label tag select"><%= topic.title %></a></li>
    <% end %>
</ul>
<h3 class="type">Osoby</h3>
<ul class="list">
    <% @material.polititians.each do |person| %>
	<li><a href="#" class="label tag select"><%= person.name %></a></li>
	<% end %>
</ul>
<br class="clear" />
<hr />
<p class="center">
    <% @material.image_assets.each do |img| %>
    <%= image_tag(img.image(:detail))%><br>
	<% end %>
</p>
<br class="clear" />
<p><a href="javascript: history.go(-1)">Zpět na vyhledávání</a></p>
<br class="clear" />
