<%= flash[:notice]%>

<div id="material-show-metadata-basic">
    <span class="tag"><%= @material.election.title %></span>
    <span class="tag"><%= @material.municipality.full_title %></span>
    <span class="tag"><%= @material.party.title %></span>
</div>

<div id="material-show-topics">
    <% @material.topics.each do |topic| %>
    <span class="tag"><%= topic.title %></span>
    <% end %>
</div>

<div id="material-show-people">
    <% @material.polititians.each do |person| %>
    <span class="tag"><%= person.name %></span>
    <% end %>
</div>